doctype html
html(lang="fa")
    include partials/_header
    body
        #header
            .top-header
                .logo-container
                    img.logo(src='assets/img/logo.png', alt='logo')
                    .description-wrapper
                        img.title(src='assets/img/title.png', alt='title')
                        p با 30 سال سابقه تولید انواع گلاب و عرقیجات
                        p به صورت صنعتی و سنتی
                    .clear
                .contact-wrapper
                    .phone
                        span شماره واحد فروش
                        i.fa.fa-phone
                    div
                        span 031-55 44 8020 / 0913 263 1880
                    .telegram
                        span کانال تلگرام گلاب معراج
                        img(src='assets/img/telegram.png', alt='telegram')
                    .clear
                    .instagram
                        span اینستاگرام گلاب معراج
                        img(src='assets/img/instagram.png', alt='instagram')
                .clear
            nav.navigation
                ul
                    li
                        a(href='#') صفحه اصلی
                    li
                        a(href='#') درباره ما
                    li
                        a(href='#') محصولات
                        ul.sub-menu
                            li
                                a(href='#') عرقیجات سنتی
                            li
                                a(href='#') عرقیجات صنعتی
                            li
                                a(href='#') عرقیجات ترکیبی
                    li
                        a(href='#') مقالات
                    li
                        a(href='#') درخواست نمایندگی
                    li
                        a(href='#') افتخارات
                    li
                        a(href='#') تماس با ما
        block content